#header{
    img{
        height: 40px;
        width: 50px;
    }
}

#titulo{
    .container{
        display: grid;
        .col{
            H1{
                color: #006bb7;
            }
            
            img{
                height: 300px;
                width: 300px;
            }
        }
    }
}

#playoff{
    
        color:#006bb7; 
}

#tickets{
    h2{
        color:#006bb7;}
}

#confianza{
    background-color: #006bb7;
    color: white;
}


.bg-dark{
    background-color: #006bb7;
}